.card1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  color: black;
  background: white;
  text-align: center;
  float:left;
  position: fixed;
  height: 100%;
}

.container1 {
  background: black;
  color: white;
  text-align: center;
}

.subcontainer1 {
  padding: 2px 16px;
}

.circular--square { border-radius: 50%; }

.card2 {
  width: 78%;
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  color: black;
  background: white;
  text-align: center;
  float: right;
  height: 200%;
  padding: 5px 10px;

}
