.card {
  width: 20%;
  height: 1240px;
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  color: black;
  background: white;
  text-align: center;
  position: fixed;
}

.header {
  height: 8%;
  background: black;
  color: white;
  text-align: center;
}

.container {
  padding: 2px 16px;
}

.circular--square { border-radius: 50%; }
